.wp-paysite-thumb-buttons{
 padding-top:10px;
 padding-bottom:10px;
}

div.folder {
 margin-left: 7px;
}

div.subfolder {
 margin-left: 17px;
}

div.folder a{
 text-decoration:none;
}

#member-folder-options{
 padding-left:10px;
}